<div class="col-lg col-md col-4 mx-auto">
  <img src="/assets/img/board-member-traci.jpg" alt="Traci Walker" class="img-fluid pb-4" />
  <h6 class="text-blue">
      Traci Walker<br/>
      <small class="text-gray">Digital Services Coalition</small><br/>
      <small class="text-blue">Executive Director</small>
  </h6>
</div>
