<div class="relative bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto w-3/4 px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">{{ header_title }}</h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">{{ header_subtitle }}</p>
    </div>
  </div>
</div>