{% assign membershipItems = collections.membershipItems %}

{% for item in membershipItems %}
  <div class="font-serif flex flex-col items-center text-center px-4 pb-4 mx-auto desktop:pb-0 desktop:mt-4">
    <div type="button" onclick="displayContent()">
        <div>{{ item.itemName }}{{ item.itemIcon }}</span>
    </div>
  </div>
{% endfor %}

<script>
    let isClicked = false;
    Function displaycontent() {
        isClicked = !isClicked;
        if(isClicked){
            return `<span class="font-serif flex items-center px-4 pb-4 mx-auto desktop:pb-0 desktop:mt-4">
                {{ item.itemContent | markdownify }}
                </span>`
        } else{
            return ``
        }
    }
</script>