<nav class="navbar flex items-center justify-between flex-wrap">
  <a href="/" class="navbar-brand">
    <img
      alt="Digital Services Coalition"
      src="/assets/img/dsc-logo.png"
      class="logo">
  </a>
  <button class="navbar-toggler block pr-3 pb-6 desktop:hidden" type="button">
    <span class="navbar-toggler-icon">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </span>
  </button>
  <div class="hidden navbar-links w-full block desktop:visible desktop:flex desktop:items-center desktop:w-auto" id="navigation-container">
    <ul class="navbar-nav duration-500 ease-out transition-all delay-150 desktop:flex-grow" id="navigation-links">
      <li class="nav-item block  desktop:inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item block  desktop:inline-block">
        <a href="/mission" class="nav-link">Mission</a>
      </li>
      <li class="nav-item block  desktop:inline-block">
        <a href="/story" class="nav-link">Story</a>
      </li>
      <li class="nav-item block desktop:inline-block">
        <a href="/membership" class="nav-link">Membership</a>
      </li>
      <li class="nav-item block desktop:inline-block">
        <a
          href="https://medium.com/@DigitalServicesCoalition"
          target="_blank"
          rel="noopener"
          class="nav-link">News</a>
      </li>
      <li class="nav-item block desktop:inline-block">
        <a
          href="https://shop.digitalservicescoalition.org/"
          target="_blank"
          rel="noopener"
          class="nav-link">Shop</a>
      </li>
      <li class="nav-item block desktop:inline-block">
        <a href="/contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
