<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b">
  <a href="{{ '/' | url }}" class="font-semibold text-xl tracking-tight">11ty | DecapCMS | TailwindCSS</a>

  {% assign navPages = collections.all | eleventyNavigation %}
  <ul>
    {% for entry in navPages %}
      <li class="inline">
        <a
         href="{{ entry.url | url }}"
         class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
         {{'text-gray-700 hover:text-gray-900'}}">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
 </ul>
</nav>
