{% assign orgs = collections.orgItem %}

<div class="grid gap-8 p-2 mt-6 tablet:p-8 tablet:grid-cols-2 tablet:gap-10 desktop:grid-cols-2 desktop:gap-20 desktop:p-20">
  {% for org in orgs %}
    <div class="flex desktop:justify-between">
      <div class="flex-none mx-10 w-16 h-1/2 tablet:w-20 desktop:w-24">
        <a href="{{ org.data.linkURL }}"
          ><img
            src="{{ org.data.organizationImage }}"
            alt="{{ org.data.organizationAlt }}"
            class="max-w-full h-auto"
        /></a>
      </div>
      <div class="grow">
        <p>
          {{ org.data.organizationDescription }}{% if org.data.foundingMember %}
          <i>*</i>{% endif %}
        </p>
      </div>
    </div>
  {% endfor %}
</div>
