<div class="resources-container">
  <div class="section-title">
    <h6>Resources</h6>
  </div>
  <div class="section-subtitle">
    <h3>Dive into our resources for answers to your important questions.</h3>
  </div>
  <div class="resources-links-container">
    <span class="resources-wrapper">
      <span class="resources-container">
        <span style="background: #5569B0; text-align: center; border-radius: 100%; width: 48px; height: 48px; margin-top: 2rem;">
          <img
            style="width: 50%; height: 50%; margin-left: auto; margin-right: auto; margin-top: 0.75rem"
            src="/assets/icons/resources/GroupsRounded.png"
            alt="" />
        </span>
        <h4>Community Standards</h4>
        <p>Lorem ipsum dolor sit amet</p>
        <a href="/assets/pdf/Membership-Policy-2023.pdf" style="color: #F25267;">View PDF
          <span style="color: #F25267;">&#8594;</span>
        </a>
      </span>
    </span>
    <span class="resources-wrapper">
      <span class="resources-container">
        <span style="background: #5569B0; text-align: center; border-radius: 100%; width: 48px; height: 48px; margin-top: 2rem;">
          <img
            style="width: 50%; height: 50%; margin-left: auto; margin-right: auto; margin-top: 0.75rem"
            src="/assets/icons/resources/PolicyRounded.png"
            alt="" />
        </span>
        <h4>2024 Member Policies</h4>
        <p>Lorem ipsum dolor sit amet</p>
        <a href="/assets/pdf/Membership-Policy-2023.pdf" style="color: #F25267;">View PDF
          <span style="color: #F25267;">&#8594;</span>
        </a>
      </span>
    </span>
  </span>
  <a
    href="/membership/"
    class="nav-item"
    style="color: red; text-align: right;">Back to the Top</a>
</div>
</div>