@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    body {
        margin: 0;
        padding: 0;
        color: theme(colors.gray);
        font-family: 'Open Sans', Calibri, Source Sans Pro, sans-serif;
        font-size: 0.69rem; /* Equivalent to 11pt */
    }

    @media (max-width: 992px) {
        .container.py-5 {
            padding-top: 1.00rem !important;
            padding-bottom: 1.00rem !important;
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        .container {
            max-width: 40.00rem; /* Equivalent to 640px */
        }
    }

    /* Typography */
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Merriweather', serif;
        margin-bottom: 1.00rem;
    }

    h1 {
        font-size: 3.00rem;
    }

    h2 {
        font-size: 1.80rem;
    }

    h3 {
        font-size: 1.60rem;
    }

    h6 {
        font-weight: bold;
    }

    p {
        font-size: 1.00rem;

        &.text-sm {
            font-size: 0.80rem;
        }
    }

    p.list-items::before {
        content: "";
        display: inline-block;
        width: 0.38rem; /* Equivalent to 6px */
        height: 0.38rem; /* Equivalent to 6px */
        margin-right: 0.50rem; /* Equivalent to 8px */
        margin-bottom: 0.13rem; /* Equivalent to 2px */
        border: 1px solid theme(colors.gray);
        border-radius: 50%;
    }

    a, a:visited {
        color: theme(colors.red);

        &:hover, &:focus {
            color: theme(colors.magenta);
            text-decoration: none;
        }
    }

    .btn, a.btn {
        background-color: theme(colors.red);
        color: white;
        border-radius: 0;
        border: none;

        &:hover, &:focus {
            background-color: theme(colors.magenta);
            color: white;
        }
    }

    /* Backgrounds & Illustrations */
    .bg-illustration {
        background-image: url('../assets/img/illustration-gov.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: contain;
    }

    @media (max-width: 768px) {
        .container.bg-illustration {
            padding-bottom: 15.63rem !important; /* Equivalent to 250px */
            padding-top: 0 !important;
            background-position: bottom center;
        }
    }

    @media (max-width: 992px) {
        .container.bg-illustration {
            background-size: 10.00rem; /* Equivalent to 40% */
        }
    }

    /* Parallax */
    /* TODO: add parallax styling */

    /* Navbar */
    .navbar-logo {
        margin: 1.88rem 0 1.88rem 3.13rem; /* Equivalent to 30px */
        padding: 0;
        height: 3.13rem;
    }

    .nav-item {
        color: theme(colors.red);
        font-family: 'Merriweather';
        font-size: 1.075rem;
    }


    .navbar-nav {
        border-bottom: 0.31rem solid theme(colors.grayLightest); /* Equivalent to 5px */
        padding: 1.56rem 3.13rem 1.46rem 0;
 /* Equivalent to 25px 50px 25px 0 */
    }


    @media (max-width: 992px) {
        .navbar-logo {
            margin: 0.94rem; /* Equivalent to 15px */
        }
    }
}
