@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    /* h2 styles */
    h2 {
        @apply font-semibold text-xl;
        padding-bottom: 0.3em;
    }

    /* h3 styles */
    h3 {
        @apply font-semibold text-lg;
    }

    /* h4 styles */
    h4 {
        @apply font-semibold text-base;
    }

    /* h5 styles */
    h5 {
        @apply font-semibold text-sm;
    }

    /* h6 styles */
    h6 {
        @apply font-semibold text-xs text-gray-500;
        margin-top: 24px;
        margin-bottom: 16px;
        line-height: 1.25;
    }

    code {
        background-color: #efefef;
        border-radius: 0.15em;
    }

    hr {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    ol {
        @apply list-decimal;
    }

}
