@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    body {
        @apply m-0 p-0 text-gray font-sans font-[0.91625rem];
    }

    /* Typography */
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl text-grayLight;
    }

    p {
        @apply text-base;
    }

    p.list-items::before {
        content: "";
        display: inline-block;
        width: 0.38rem;
        height: 0.38rem;
        margin-right: 0.50rem;
        margin-bottom: 0.13rem;
        border: 1px solid theme(colors.gray);
        border-radius: 50%;
    }

    a, a:visited {
        @apply text-red;

        &:hover, &:focus {
            @apply text-magenta no-underline;
        }
    }

    .btn, a.btn {
        background-color: theme(colors.red);
        color: white;
        border-radius: 0;
        border: none;

        &:hover, &:focus {
            background-color: theme(colors.magenta);
            color: white;
        }
    }

     /* Home Background Image */

     .bg-illustration {
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: contain;
    }

    @media (max-width: 768px) {
        .container.bg-illustration {
            padding-top: 0;
            padding-bottom: 250px!important;
            padding-top: 0!important;
            background-position: bottom;
        }
    }

    @media (max-width: 992px) {
        .container.bg-illustration {
            background-size: 40%;
        }
    }

    /* Parallax */

    @media (max-width: 992px) {
        .container.con-5 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        .container {
            max-width: 640px;
        }
    }


    .bg-parallax, .bg-parallax-photo {
        position: relative;

        .parallax-outside {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 21.875rem;
            width: 100%;
            max-width: 100%;
            scroll-behavior: smooth;
            transform: translate3d(0px, 0px, 0px);
            z-index: -1;

            .parallax-inside {
                height: auto;
                width: 100%;
                transform: translate3d(0px, 0px, 0px);

                &.is-parallax {
                    left: 0;
                    position: absolute;
                    will-change: transform;
                    right: 0;
                    top: 0;
                }

                > img {
                    height: auto;
                    width: auto;
                    max-width: 100%;
                }
            }
        }

        .parallax-outside-cover {
            position: relative;
            width: 100%;
            height: 250px !important;
            scroll-behavior: smooth;
            overflow: hidden;
            z-index: -1;

            .parallax-inside {
                width: 100%;
                overflow: hidden;

                &.is-parallax {
                    left: 0;
                    position: absolute;
                    will-change: transform;
                    right: 0;
                    top: 0;
                }

                > img {
                    height: 100%;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: top;
                    object-position: top;
                    font-family: "object-fit: cover; object-position: top";
                }
            }
        }
    }

    /* Navigation Bar */

    .navbar {
        margin: 30px 0 30px 50px;
        padding: 0;

        .navbar-brand .logo {
            height: 50px;
        }

        .navbar-toggler {
            &:focus {
                outline: none;
            }

            .navbar-toggler-icon {
                position: relative;
                width: 30px;
                height: 30px;
                cursor: pointer;

                .line-1, .line-2, .line-3 {
                    position: absolute;
                    right: 0;
                    width: 20px;
                    height: 2px;
                    border-radius: 1px;
                    background: theme(colors.red);
                    transition: opacity .2s ease,background .2s ease,top .2s ease .2s,transform .2s ease;
                }

                .line-1 { top: 8px; }
                .line-2 { top: 14px; }
                .line-3 { top: 20px; }

                &:hover {
                    .line-1, .line-2, .line-3 {
                        background: theme(colors.magenta);
                    }
                }
            }
        }

        .navbar-nav {
            border-bottom: 5px solid theme(colors.grayLightest);
            padding: 25px 50px 25px 0;

            .nav-item .nav-link {
                color: theme(colors.redDark);
                font-family: 'Merriweather';
                padding: 0 25px;
                font-size: .9rem;
            }

        }
    }

    @media (max-width: 992px) {
        .navbar {
            margin: 15px;
        }
    }

     /* Date Box */

    .date-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 60ch;
      }

    .date-link:hover .link {
    text-decoration: underline;
    }

    .date-box {
    text-align: center;
    word-break: break-word;
    line-height: 1.1em;
    background-color: #dedede;
    }

    .date-box-inner {
    width: 4ch;
    margin: 4px 8px;
    }

    .date {
    font-weight: 700;
    color: theme(colors.gray);

    }

    .link-box {
    margin-left: 0.7rem;
    }

    .link {
    color: theme(colors.gray);
    }

    /* Membership Markdown Content */

    .membership-content {
        h1 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 2rem;
            color: #5569B0;
            
        }
    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #5569B0;
    }
    h2{
        margin-bottom: 1rem;
        font-size: 1.75rem;
        color: #5569B0;
        font-family: "Merriweather";
    }
    h4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.25rem;
        color: #5569B0;
    }
    h5 {
        font-weight: bolder;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.25rem;
        color: black;
    }
    h6 {
        margin-top: 2rem;
        margin-bottom: 0.5;
        font-size: 0.75rem;
        color: #777777
    }


    p {
        margin-bottom: 1rem;
        font-family: "Open Sans", sans-serif;
    }

    ul {
        list-style-type: disc;
        margin-left: 1rem;
        font-family: "Open Sans", sans-serif;
    }

    ol {
        list-style-type: decimal;
        margin-left: 1rem;
        font-family: "Open Sans", sans-serif;
    }

    strong {
        margin-top: 1rem;
        font-family: "Open Sans", sans-serif;
    }

    
    }

    #membership-list-item {
    list-style-type: disc;
    margin-left: 1.5rem;
    }

    .last-list-item {
    margin-bottom: 1rem;
    }

    .membership-list-last {
    margin-top: 1rem;
    }

    
    .membership-item-wrapper {
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        align-items: start;
        /* background: rgb(85,105,176);
        background: -moz-linear-gradient(90deg, rgba(85,105,176,1) 100%, rgba(252,252,253,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(85,105,176,1) 100%, rgba(252,252,253,1) 100%); */
        background: linear-gradient(to right, #CA65A9 0%, #7364AD 100%);
        /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5569b0",endColorstr="#fcfcfd",GradientType=1); */
        border-radius: 12px;
        padding: 0.165rem;
        cursor: pointer;
        margin-bottom: 1.5rem;
        width: 100%
    }

    .membership-item-container {
        background: white;
        color: black;
        padding-left: 2rem;
        border-radius: 12px;
        height: 50%;
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        /* padding: 80px 64px; */
        gap: 1rem;
    }

    

    .membership-item-title {
        cursor: pointer;
        box-sizing: border-box;
        color: #5569B0;
        height: 90%;
        width: 100%;

        h4 {
            /* margin-top: 2rem;
            margin-bottom: 0.5rem; */
            font-size: 1.25rem;
            color: #5569B0;
            margin-left: 1rem;
        }
    }

    /* .active, .membership-item-container:hover {
        background: linear-gradient(to right, #f25267 10%, #5569B0 100%);
    }

    .active, .membership-item-title:hover {
        color: white;
    } */

    .membership-item-content {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .membership-icon {
        background-color: #5569B0; 
        border-radius: 50%; 
        width: 1rem; 
        height: 1rem;
    }

    .resources-wrapper {
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        /* background: rgb(85,105,176);
        background: -moz-linear-gradient(90deg, rgba(85,105,176,1) 100%, rgba(252,252,253,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(85,105,176,1) 100%, rgba(252,252,253,1) 100%); */
        background: linear-gradient(to right, #CA65A9 0%, #7364AD 100%);
        /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5569b0",endColorstr="#fcfcfd",GradientType=1); */
        border-radius: 12px;
        padding: 0.165rem;
        cursor: pointer;
        gap: 3rem;
        margin-bottom: 1.5rem;
        width: 45%
    }

    .resources-container {
        background: white;
        color: black;
        padding-left: 2rem;
        border-radius: 12px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        /* padding: 80px 64px; */
        /* gap: 1rem; */

        h3 {
            font-size: 1.5rem;
            color: #5569B0;
        }

        h4 {
            font-size: 1.25rem;
            color: #5569B0;
        }

        h6 {
            font-size: 0.75rem;
            color: #777777
        }

        font-family: "Open Sans", sans-serif;
    }

    .resources-links-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .section-title{
        bottom: 0;
    }
    .subsection-title{

    }
}
