<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Services Coalition</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,700" rel="stylesheet">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/assets/main.css' | url }}" />
    <link
      rel="icon"
      href="/favicon/favicon.ico"
      type="image/x-icon">
  </head>
  <body>
    {% include "components/navigation.liquid" %}
    <main>
      {{ content }}
    </main>
    <div class="flex flex-col py-10 desktop:pb-10 desktop:pt-0">
      {% include "components/navigation.liquid" %}
      <a
        href="https://github.com/DSCoalition/dsc-11ty-cms/"
        target="_blank"
        class="text-end mr-5 mb-5 tablet:mr-20 desktop:mr-20 desktop:mb-10"
        rel="noopener">
        <p class="text-grayLight text-xs">Our code is open source.</p>
      </a>
    </div>
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/scripts/bundle.js"></script>
    <script src="{{ '/assets/main.js' | url }}"></script>
  </body>
</html>
