<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Services Coalition</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/styles/main.css' | url }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous" />
    <link
      rel="icon"
      href="/favicon/favicon.ico"
      type="image/x-icon">
  </head>
  <body>
    {% include "components/navigation.liquid" %}
    <main>
      {{ content }}
    </main>
    <div class="flex flex-col">
      {% include "components/navigation.liquid" %}
      <a
        href="https://github.com/DSCoalition/digitalservicescoalition.org"
        target="_blank"
        class="text-end mr-5 mb-5 desktop:mr-20 desktop:mb-10">
        <p class="text-grayLight text-xs">Our code is open source.</p>
      </a>
    </div>
    <script src="{{ '/assets/main.js' | url }}"></script>
  </body>
</html>
