---
layout: layouts/base.liquid
---

{% render "components/header.liquid" %}

<section class="flex">
  {% render "components/sidebar.liquid" %}
  <div class="w-3/4 mx-auto py-6 px-4 sm:py-10 sm:px-6 lg:px-8">
    {{ content | safe }}
  </div>
</section>