---
layout: layouts/base.liquid
---
<div class="bg-parallax-photo">
  <div
    :speed-factor="0.8"
    sectionClass="parallax-outside"
    containerClass="parallax-inside">
    <img src="/assets/img/bg-triangle-pink3.png" class="float-right" />
  </div>
</div>
<div class="container py-5">
  <div class="row justify-content-md-between">
    <div class="col-md-6 py-md-5">
      <h1 class="text-magenta my-md-5">{{ membershipHeader }}</h1>
      {% if membershipAnnouncement != "" %}
        {{ membershipAnnouncement | markdownify }}
      {% endif %}
      {{ content }}
    </div>
  </div>
</div>
<div class="bg-parallax">
  <div
    :speed-factor=".15"
    sectionClass="parallax-outside-cover"
    containerClass="parallax-inside">
    <img src="/assets/img/bg-rectangle-purple.png" />
  </div>
</div>