---
layout: layouts/base.liquid
---

<section class="tablet:p-6 desktop:p-0">
  <div class="grid mx-auto desktop:gap-8  desktop:grid-cols-2">
    <div class="row-start-2 items-center desktop:mb-20 desktop:mt-28 desktop:ml-20 desktop:row-start-1">
      <div class="p-4">
        <h1 class="text-magenta leading-none mb-10">{{ membershipHeader }}</h1>
        <div class="bg-greenLight text-greenDark py-4 px-5 mb-6">
          <h2 class="text-greenDark mb-1">Announcement</h2>
          {{ membershipAnnouncement | markdownify }}
        </div>
        <div class="membership-content">
          {{ content | markdownify }}
        </div>
      </div>
    </div>
    <div class="ml-auto desktop:mt-6">
      <img src="/assets/img/bg-triangle-pink3.png" alt="">
    </div>
  </div>
</section>

<div class="w-full h-[250px] pb-16 mt-6 desktop:pb-0  flex items-center justify-center">
  <img src="/assets/img/bg-rectangle-purple.png" alt="" class="w-full h-full object-cover object-top">
</div>
