---
layout: layouts/base.liquid
---

<section class="tablet:p-6 desktop:p-0">
  <div class="grid mx-auto desktop:gap-8  desktop:grid-cols-2">
    <div class="row-start-2 items-center desktop:mb-20 desktop:mt-28 desktop:ml-20 desktop:row-start-1">
      <div>
        <h1 class="text-magenta leading-none">{{ membershipHeader }}</h1>
        <div class="bg-greenLight text-greenDark p-6 my-6">
          <h2 class="text-greenDark">Announcement</h2>
          {{ membershipAnnouncement | markdownify }}
        </div>
        <div class="membership-content">
          {{ content | markdownify }}
        </div>
      </div>
    </div>
    <div class="ml-auto desktop:mt-6 ">
      <img src="/assets/img/bg-triangle-pink3.png" alt="">
    </div>
  </div>
</section>

<div class="membership-banner w-full h-64 object-cover bg-cover bg-fixed bg-no-repeat shadow-lg" style="background-image: url('/assets/img/bg-rectangle-purple.png');"></div>
