---
layout: layouts/base.liquid
---
<div class="bg-div-photo">
  <div>
    <img src="/assets/img/bg-triangle-blue.png" class="" />
  </div>
</div>

<div class="">
  <div class="">
    <div class="">
      <h1 class="text-magenta">{{ missionHero.heroTitle }}</h1>
    </div>
  </div>
  <div class="row justify-content-md-start">
    <div class="col-lg-8 pb-5">
      {{ missionHero.heroContent | markdownify }}
      <a download :href="`${publicPath}DSCStrategicPlan.pdf`">
        <div class="date-link bg-gray">
          <div
            class="date-box"
            aria-label="March 12"
            role="text">
            <div class="date-box-inner">
              <span class="date" aria-hidden="true">{{ missionHero.dateText }}</span>
            </div>
          </div>
          <div class="link-box">
            <span class="link">{{ missionHero.linkText }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="bg-div">
  <div>
    <img src="/assets/img/bg-triangle-lightblue.png" class="float-right" />
  </div>
</div>

<div class="bg-gray">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8">
        <h3 class="text-gray mt-5">As thought leaders, advisors, and trusted partners in government digital services, we're driven by</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h6 class="text-blue mt-5 mb-1">Community</h6>
        <p>Establish a collaborative community of innovative vendors to influence digital services in the government</p>

        <h6 class="text-blue mt-5 mb-1">Education</h6>
        <p>Educate the civic tech ecosystem, including government agencies, other vendors, and users, on best practices in digital services</p>
      </div>
      <div class="col-md-4">
        <h6 class="text-blue mt-5 mb-1">Advocacy</h6>
        <p>Promote policies that remove barriers to innovation in government while increasing adoption of best practices, methodologies, and processes, such as human-centered design and agile delivery</p>

        <h6 class="text-blue mt-5 mb-1">Partnership</h6>
        <p>Cultivate enduring relationships within our community of vendors and government partners to maintain long-term success in digital service delivery</p>
      </div>
      <div class="col-md-4">
        <h6 class="text-blue mt-5 mb-1">Impact</h6>
        <p>Make a meaningful difference in the daily lives of users through improved interactions with government, prioritizing equitable delivery to those who have traditionally been underserved</p>
      </div>
    </div>
  </div>
</div>
